/* general */

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	color: #222222;
	font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	text-align: left;
}

.mainContent h2 {
	font-family: 'open_sanslight', sans-serif;
	font-size: 200%;
	padding-top: 2%;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	
}

a:hover, a:active {
	
}

.body {
	margin: 0 auto;
	width: 60%;
	max-width: 1100px;
	clear: both;
}

/* header & navigation */

.mainHeader img {
	width: 100%;
	max-width: 1100px;
	height: auto;
	margin: 0.5% 0;
	margin-left: auto;
	margin-right: auto;
}

.mainHeader nav {
	margin-left: auto;
	margin-right: auto; /* horen deze hier of in nav ul? */
}

.mainHeader nav ul {
	font-family: 'open_sanslight', sans-serif;
	font-size: 150%;
	text-align: center;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.mainHeader nav ul li {
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #222222;
	display: inline-block;
	padding: 10px 35px;
	margin: 0 auto;
	/* come back to assign height ? */
}

/* body */

.mainContent {
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* unnecessary? */
	overflow: hidden;
}

hr {
	    border: 0;
	    height: 0;
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

/* gallery */

.content {
	float: left;
}

.galleryContainer img {
	width: 100%;
	height: auto;
	margin: 0 0.5%;
	margin-left: auto;
	margin-right: auto;
}

.galleryContainer h3 {
	text-align: right;
}

.gallery {
	padding-bottom: 6%;
}

.thumbGallery ul {
	font-size: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

.thumbGallery li {
	display: inline;
	padding-right: 0.92%;
}

.thumbGallery ul li:last-child {
	padding-right: 0;
}

.thumbGallery ul li img {
	display: inline-block;
	width: 32.72%;
	height: auto;
}

/* about */

.about {
	float: left;
}

.aboutContainer {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.aboutText {
	display: inline;
    width: 60%;
	height: auto;
	margin: 0;
	float: left;
}

.aboutImg {
	display: inline;
	display: block;
	width: 30%;
	float: right;
	margin: 0;
}

.aboutImg img {
	min-width: 240px
}

/* clearfix */

.clearfix {
	clear: both;
}

/* connect */

.connect {
	width: 100%;
	display: block;
	float: left;
	vertical-align:bottom;
}


.links {
	width: 35%;
}

.connect ul {
	width: 100%;
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.connect li {
	display: inline;
	float: left;
	width: 32%;
}

.connect img {
	display: inline;
	width: 32%;
}

.deviantart {
	margin-bottom: 10px;
	width: 100px;
	height:100px;
	display:block;
 	background:transparent url('img/logo_da.png') center top no-repeat;
}

.deviantart:hover {
   background-image: url('img/logo_da_c.png');
}

.tumblr {
	margin-bottom: 10px;
	width: 100px;
	height:100px;
	display:block;
 	background:transparent url('img/logo_tu.png') center top no-repeat;
}

.tumblr:hover {
   background-image: url('img/logo_tu_c.png');
}

.facebook {
	margin-bottom: 10px;
	width: 100px;
	height:100px;
	display:block;
 	background:transparent url('img/logo_fb.png') center top no-repeat;
}

.facebook:hover {
   background-image: url('img/logo_fb_c.png');
}

.twitter {
	margin-bottom: 10px;
	width: 100px;
	height:100px;
	display:block;
 	background:transparent url('img/logo_tw.png') center top no-repeat;
}

.twitter:hover {
   background-image: url('img/logo_tw_c.png');
}

.society6 {
	margin-bottom: 10px;
	width: 100px;
	height:100px;
	display:block;
 	background:transparent url('img/logo_s6.png') center top no-repeat;
}

.society6:hover {
   background-image: url('img/logo_s6_c.png');
}

.welovefine {
	margin-bottom: 10px;
	width: 100px;
	height:100px;
	display:block;
 	background:transparent url('img/logo_wl.png') center top no-repeat;
}

.welovefine:hover {
   background-image: url('img/logo_wl_c.png');
}



/* LOADER CSS */

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.loader,
.loader:before,
.loader:after {
    animation: 1s infinite ease-in-out;
}
.loader:before,
.loader:after {
    width: 100%; 
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.loader:before {
    content: '';
    border: 10px solid white;
    top: -10px;
    left: -10px;
    animation-name: loader3;
}

    @keyframes loader3 {
        0% { transform: scale(0); }
        100% { transform: scale(1); }
    }



/* ACTIVITY INDICATION */

#imagelightbox-loading,
#imagelightbox-loading div
{
	border-radius: 50%;
}
#imagelightbox-loading
{
	width: 20px; /* 40 */
	height: 20px; /* 40 */
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	position: fixed;
	z-index: 10003;
	top: 50%;
	left: 50%;
	padding: 10px; /* 10 */
	margin: -20px 0 0 -20px; /* 20 */

	-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
	box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
}
	#imagelightbox-loading div
	{
		width: 20px; /* 20 */
		height: 20px; /* 20 */
		background-color: #fff;

		-webkit-animation: imagelightbox-loading .5s ease infinite;
		animation: imagelightbox-loading .5s ease infinite;
	}

	@-webkit-keyframes imagelightbox-loading
	{
		from { opacity: .5;	-webkit-transform: scale( .75 ); }
		50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
		to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
	}
	@keyframes imagelightbox-loading
	{
		from { opacity: .5;	transform: scale( .75 ); }
		50%	 { opacity: 1;	transform: scale( 1 ); }
		to	 { opacity: .5;	transform: scale( .75 ); }
	}