/* general */

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	color: #222222;
	font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	text-align: left;
}

.mainContent h2 {
	font-family: 'open_sanslight', sans-serif;
	font-size: 200%;
	padding-top: 2%;
	padding-bottom: 0;
	margin-bottom: 2%;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #222222;
}

a:hover, a:active {
	color: #222222;
}

.body {
	margin: 0 auto;
	width: 60%;
	max-width: 900px;
	clear: both;
}

h5 {
	font-family: 'Megrim', cursive;
	text-align: right;
	font-size: 105%;
	text-decoration: underline;
	margin-top: 10px;
	color: #222222;
}

/* preloaders */

div#da {
	background: url(img/logo_da_c.png) no-repeat -9999px -9999px;
}

div#tu {
	background: url(img/logo_tu_c.png) no-repeat -9999px -9999px;
}

div#fb {
	background: url(img/logo_fb_c.png) no-repeat -9999px -9999px;
}

div#tw {
	background: url(img/logo_tw_c.png) no-repeat -9999px -9999px;
}

div#s6 {
	background: url(img/logo_s6_c.png) no-repeat -9999px -9999px;
}

div#wl {
	background: url(img/logo_wl_c.png) no-repeat -9999px -9999px;
}

/* Scrolling */

.panel {
    width: 100%;
    height: 200px;
    z-index:0; 
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

a[ id= "works" ]:target ~ #main article.panel {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "about" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}
a[ id= "connect" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}


/* header & navigation */

.mainHeader img {
	width: 100%;
	max-width: 900px;
	height: auto;
	margin: 0.5% 0;
	margin-left: auto;
	margin-right: auto;
}

.mainHeader nav {
	margin-left: auto;
	margin-right: auto; /* horen deze hier of in nav ul? */
}

.mainHeader nav ul {
	font-family: 'open_sanslight', sans-serif;
	font-size: 150%;
	text-align: center;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.mainHeader nav ul li {
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #222222;
	display: inline-block;
	padding: 10px 35px;
	margin: 0 auto;
	/* come back to assign height ? */
}

/* body */

.mainContent {
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* unnecessary? */
	overflow: hidden;
}

hr {
	    border: 0;
	    height: 0;
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		padding-bottom: 3%;
	}

/* gallery */

.content {
	float: left;
}

.galleryContainer img {
	width: 100%;
	height: auto;
	margin: 0 0.5%;
	margin-left: auto;
	margin-right: auto;
}

.galleryContainer h3 {
	text-align: right;
	color: #222222;
}

.gallery {
	padding-bottom: 1%;
}

.thumbGallery ul {
	font-size: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

.thumbGallery li {
	display: inline;
	padding-right: 0.8%;
}

.thumbGallery ul li:last-child {
	padding-right: 0;
	margin-right: 0;
}

.thumbGallery ul li img {
	display: inline-block;
	width: 32.8%;
	height: auto;
}

.hiddenImg {
	display: none;
}

/* about */

.about {
	float: left;
	position: relative;
}

.aboutContainer {
	display: block;
	width: 100%;
	padding: 5% 0;
}

.aboutText {
	display: inline;
    width: 64%;
	height: auto;
	float: left;
	padding-right: 8px;
}

.clients {
	position: absolute;
	width: 64%;
	bottom: 0;
}

.aboutText p {
	margin: 0;
	padding: 0;
}

.aboutText p b {
	font-size: 110%;
}

.aboutImg {
	display: inline-block;
	width: 32%;
	float: right;
	margin: 0;
	overflow: hidden;
}


/* connect */

.clearfix {
	clear: both;
}

.connect {
	float: left;
	position: relative;
}

.connectContainer {
	display: block;
	width: 100%;
	padding: 5% 0;
}

.links {
	display: inline;
    width: 42%;
	height: auto;
	float: left;
	overflow: hidden;
}

.description {
	display: inline;
	width: 54%;
	padding: 0;
	float: right;
}

.connect li a {
	margin-right: 5px;
}

.connect ul {
	width: 100%;
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.connect li {
	display: inline;
	float: left;
	width: 32%;
	padding: 7% 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.deviantart {
	margin-bottom: 10px;
	width: 100px;
	height:100px;
	display:block;
 	background:transparent url('img/logo_da.png') center top no-repeat;
	background-size: cover;
}

.deviantart:hover {
   background-image: url('img/logo_da_c.png');
}

.tumblr {
	margin-bottom: 10px;
	width: 100px;
	height:100px;
	display:block;
 	background:transparent url('img/logo_tu.png') center top no-repeat;
	background-size: cover;
}

.tumblr:hover {
   background-image: url('img/logo_tu_c.png');
}

.facebook {
	margin-bottom: 10px;
	width: 100px;
	height:100px;
	display:block;
 	background:transparent url('img/logo_fb.png') center top no-repeat;
	background-size: cover;
}

.facebook:hover {
   background-image: url('img/logo_fb_c.png');
}

.twitter {
	margin-bottom: 10px;
	width: 100px;
	height:100px;
	display:block;
 	background:transparent url('img/logo_tw.png') center top no-repeat;
	background-size: cover;
}

.twitter:hover {
   background-image: url('img/logo_tw_c.png');
}

.society6 {
	margin-bottom: 10px;
	width: 100px;
	height:100px;
	display:block;
 	background:transparent url('img/logo_s6.png') center top no-repeat;
	background-size: cover;
}

.society6:hover {
   background-image: url('img/logo_s6_c.png');
}

.welovefine {
	margin-bottom: 10px;
	width: 100px;
	height:100px;
	display:block;
 	background:transparent url('img/logo_wl.png') center top no-repeat;
	background-size: cover;
}

.welovefine:hover {
   background-image: url('img/logo_wl_c.png');
}

.email {
	font-family: 'Droid Sans Mono';
	font-size: 250%;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	padding-bottom: 15px;
}

	#typed-cursor {
	font-weight: 100;
    font-size: 30px;
    color: black;
	}
	 
	.slogan {
	color: #2E3D48;
	font-size: 30px;
	position: absolute;
	top: 50%;
	text-align: center;
	margin: -60px 0 0 0;
	display: block;
	width: 100%;
}

#typed-cursor {
	color: #2E3D48;
	font-weight: 100;
	font-size: 139%;
}

#typed-cursor.blinking {
  -webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
    color: black;
 }

}

@-moz-keyframes blink {
	from,to {
	color: transparent;
}
 50% {
   color: black;
 }

}

@-webkit-keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
   color: black;
 }

}

@-ms-keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
   color: black;
 }

}

@-o-keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
   color: black;
 }
}

/* footer */

.mainFooter {
	text-align: center;
}

/* ACTIVITY INDICATION */

#imagelightbox-loading,
#imagelightbox-loading div
{
	border-radius: 50%;
}
#imagelightbox-loading
{
	width: 20px; /* 40 */
	height: 20px; /* 40 */
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	position: fixed;
	z-index: 10003;
	top: 50%;
	left: 50%;
	padding: 10px; /* 10 */
	margin: -20px 0 0 -20px; /* 20 */

	-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
	box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
}

#imagelightbox-loading div
{
	width: 20px; /* 20 */
	height: 20px; /* 20 */
	background-color: #fff;

	-webkit-animation: imagelightbox-loading .5s ease infinite;
	animation: imagelightbox-loading .5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading
{
	from { opacity: .5;	-webkit-transform: scale( .75 ); }
	50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
	to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
}
@keyframes imagelightbox-loading
{
	from { opacity: .5;	transform: scale( .75 ); }
	50%	 { opacity: 1;	transform: scale( 1 ); }
	to	 { opacity: .5;	transform: scale( .75 ); }
}
	

/* NAVIGATION */
	
#imagelightbox-nav
{
	background-color: #444;
	background-color: rgba( 0, 0, 0, .4 );
	border-radius: 20px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 40px; /* 60 3.75em */
	padding: 3px; /* 5 0.313em*/
	padding-bottom: 4px;

	-webkit-transform: translateX( -50% );
	-ms-transform: translateX( -50% );
	transform: translateX( -50% );
}

#imagelightbox-nav button
{
	width: 15px; /* 20 1em*/
	height: 15px; /* 20 1em*/
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	margin: 0 5px; /* 5 0.0313em*/
}
#imagelightbox-nav button.active
{
	background-color: #fff;
}

/* CAPTION

#imagelightbox-caption
{
	text-align: center;
	color: #fff;
	border-radius: 20px;
	background-color: #444;
	background-color: rgba( 0, 0, 0, .8 );
	position: fixed;
	z-index: 10001;
	left: 39%;
	bottom: -10px;
	padding: 5px; /* 10 0.625em */
}


	
/* SMALL SCREENS */
		
@media only screen and (min-width:1101px), only screen and (min-width: 1101px){
   
}

@media only screen and (max-width:1100px), only screen and (max-width: 1100px){
    .body { 
		   width: 84%;
    }

}

/* MOBILE */


@media only screen and (max-width: 750px), only screen and (max-width: 750){
	.body {
		max-width: 100% !important;
		
	}
	
	.mainHeader nav ul {
		font-size: 130%;
	}
	
	.mainHeader nav ul a:link {
		padding: 5px 20px;
	}
		
	.about {
		float: none;
	}

	.aboutText {
	    width: 100%;
		height: auto;
		float: left;
		padding-right: 10px;
	}

	.clients {
		position: relative;
		padding-top: 15px;
		padding-bottom: 20px;
		width: 100%;
	}

	.aboutImg {
		display: none;
	}

	.connect {
		float: none;
	}

	.connectContainer {
		display: block;
		width: 100%;
		padding: 0;
	}

	.links {
		display: inline-block;
	    width: 100%;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}

	.links ul {
		float: left;
	}
	
	
	.links ul li {
		width: 33%;
	}
	
	.description {
		float: left;
		display: inline;
		width: 100%;
		padding: 0;
	}
	
	.email {
		position: relative;
	}

}

